body {
    color: green;
    background-color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

.button {
    background-color: white; 
    color: black; 
    border: 5px solid #4CAF50;
    border-radius: 12px;
    width: 100px;
  }